<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de aliados</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/agregar"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor=" let item of data">

      <ion-card   color="primary">
        <img alt="Silhouette of mountains" src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" />
        <ion-card-header>
          <ion-card-title>{{item.nombre}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>Id : {{item.id}}</p>
          <p>Comercio : {{item.comercio}}</p>
          <p>Documento : {{item.documento}}</p>
          <p>Telefono : {{item.telefono}}</p>
          <p>Correo : {{item.correo}}</p>
        </ion-card-content>
      </ion-card>

    </ion-item>


  </ion-list>
</ion-content>
